.main_block_locations {
    padding: 10px;
    width: 205px;
    display: flex;
    height: 230px;
    flex-flow: column;
    justify-content: space-between;
    border: 1px solid gray;
    background-color: snow;
    margin: 5px;
}

.block_location {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.flex-block {
  display: flex;
  flex-direction: column;
}

.main_btn_block {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
}

//.size-text {
//  font-size: 1.5rem;
//}
//
//.color-card {
//  background-color: #ee6e73 !important;
//}
