<div 
    class="main_block"
    [routerLink]="['/']"
    [queryParams]="{page: pages}"
    >

    <div *ngFor='let character of characters' class="characters_block">
        <img [src]="character.image">

        <div>
            <p><strong>Name:</strong> {{character.name}}</p>
            <p><strong>Gender:</strong> {{character.gender}}</p>
            <p><strong>Species:</strong> {{character.species}}</p>
            <p><strong>Status:</strong> {{character.status}}</p>

            <div *ngIf='character.type != ""'>
                <p><strong>Type</strong>: {{character.type}}</p>
            </div>
        </div>

    </div>

    <div>
        <div>
            <button (click)="prevPage(pages)">Предыдущая страница</button>
        </div>

        <div>
            <button (click)="resetName()">Сбросить</button>
        </div>

        <div>
            <button (click)="nextPage(pages)">Следующая страница</button>
        </div>
    </div>
</div>
