.main_block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.characters_block {
    padding: 5px;
}

.main_filter {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: blanchedalmond;
    text-align: left;
}

.main_btn_block {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
}

//.size-img {
//  width: 235px;
//  height: 235px;
//}
//
//.size-card {
//  width: 419px;
//  height: 257px;
//}
