<div class="main_block">
    <!-- <div class="main_filter">
        <div>
            <div>
                Name
            </div>

            <button *ngFor="let nameses of names" (click)="searchName(nameses.name)">{{nameses.name}}</button>
           

        </div>

        <div>
            <div>
                Status
            </div>

            <select >
                <option value="">alive</option>
                <option value="">dead</option>
                <option value="">unknown</option>
            </select>

        </div>

        <div>
            <div>
                Species
            </div>

            <select >
                <option *ngFor="let spec of species" [value]="spec">{{spec}}</option>
            </select>

        </div>

        <div>
            <div>
                Type
            </div>

            <select >
                <option *ngFor="let types of type" [value]="types">{{types}}</option>
            </select>

        </div>

        <div>
            <div>
                Gender
            </div>

            <select >
                <option *ngFor="let gender of genders" value="">{{gender}}</option>
            </select>

        </div>
        
    </div> -->


    <div *ngFor='let character of characters' class="characters_block">
        <img [src]="character.image">

        <div>
            <p><strong>Name:</strong> {{character.name}}</p>
            <p><strong>Gender:</strong> {{character.gender}}</p>
            <p><strong>Species:</strong> {{character.species}}</p>
            <p><strong>Status:</strong> {{character.status}}</p>

            <div *ngIf='character.type != ""'>
                <p>Type: {{character.type}}</p>
            </div>
        </div>

    </div>

    <div>
        <div>
            <button (click)="prevPage(pagTest)">Предыдущая страница</button>
        </div>

        <div>
            <button (click)="resetName()">Сбросить</button>
        </div>

        <div>
            <button (click)="nextPage(pagTest)">Следующая страница</button>
        </div>
    </div>
</div>
