/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}

a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background-color: red;

  &.main {
    justify-content: center;
    border-bottom: 1px solid var(--dark-color);
  }

  ul {
    display: flex;
  }

  li.active a {
    color: var(--dark-color);
    font-weight: bold;
    cursor: default;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: var(--light-color);
    }
  }
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
